# Required for remix-vite to work with pnpm package manager
# Related Issue - https://github.com/remix-run/remix/issues/4407#issuecomment-1288111977

# After setting this, remove the node_modules and run `pnpm install` again
# Generate a new `app/entry.client.tsx` and `app/entry.server.tsx` file by running
# `pnpx remix reveal`. The server entry file should be using imports from package
# `@remix-run/node` and client entry file should be using imports from package `@remix-run/react`.
# Related Issue - https://github.com/remix-run/remix/issues/7722#issuecomment-1819967229
shamefully-hoist=true 